doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    span Выберите свою учетную запись
        ul
         each user in usersName 
          a(href=`/users/${user.name}`)  #{user.name}