doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width , initial-scale=1.0")
        title #{userName}
    body 

    h1 #{userName} 
    span Подтвердите личность 
    | Пароль:
     input(type="text") 
    if id==443233
        h1 You are the guset
    