doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width , initial-scale=1.0")
        title #{userName}
    body 

    h1 #{userName} 
    if login
     h1 You are the #{userName}
     span у вас на счету
     
     p #{userMoney} Долларсов
     form(action="/change/"+userName,method="post")
      p сколько долларсов хотите на счету
      p: input(type="text", name="money") 
      button(type="submit") Добавить
    else 
     form(action="/auth/"+userName, method="post") 
      p Подтвердите личность 
      p Пароль:
      p: input(type="text" name ="psw")
      button(type="submit")  Подтвердить
      p: a(href="/") другой пользователь
     
    